<!-- sidebar.component.html -->
<div class="sidebar" [class.minimized]="isMinimized">
  <ul class="menu">
    <li
      *ngFor="let item of filteredMenuItems"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a [routerLink]="[item.route]">
        <i *ngIf="isMinimized" [class]="item.icon" [matTooltip]="item.label"></i>
        <span *ngIf="!isMinimized">{{ item.label }}</span>
      </a>
    </li>
  </ul>
  <div class="toggle-btn" (click)="toggleSidebar()">
    <i class="fas fa-chevron-right"></i>
  </div>
</div>
